@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: #dfe1e5;
    height: 100%;

    font-family: 'Heebo', sans-serif;

    overflow-y: hidden;
}

body > div {
    display: block;
    padding: 15px;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fffffe;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 20px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    height: 100%;
}

.title {
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
    padding-left: 20px;
    text-decoration: underline #0065ff 4px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons > button {
    background-color: #0065ff;
    color: #fffffe;
    border: none;
    border-radius: 7px;
    padding: 20px 30px 20px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.right {
    grid-column: 2;
    width: 40vw;
}

.editor {
    padding: 10px;
    background-color: #fffffe;
    border-radius: 7px;
}

#editor {
    width: 55vw;
    height: 60vh;
    max-height: 60vh;
}

#output {
    overflow: hidden;
}

.output, .console {
    padding: 10px;
    background-color: #fffffe;
    border-radius: 7px;
}

.console {
    margin-top: 15px;
}

#console, #output {
    color: #030507;
    height: 32vh;
}

#console {
    overflow-y: scroll;
}

#console > span {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.9rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    padding-left: 20px;

}

.line {
    width: 100%;
    height: 2px;
    background-color: #0065ff;
    margin-bottom: 5px;
}