@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

/*
    Main container
*/

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: #dfe1e5;
    height: 100%;
    width: 100%;

    font-family: 'Heebo', sans-serif;

    display: block;
}

body > div {
    padding: 15px;
    height: calc(100% - 30px);
}

.main {
    display: grid;
    grid-template-columns: 8fr 5fr;
    grid-template-rows: 100%;
    grid-gap: 15px;
    height: 100%;
}

/*
    Main contents
*/

.editor {
    padding: 10px;
    background-color: #fffffe;
    border-radius: 7px;
    justify-self: stretch;
    display: block;
    min-width: 0;
    min-height: 0;
}

#editor {
    min-width: 0;
    min-height: 0;
    height: 90%;
}

.right {
    grid-column: 2;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 15px;
    min-height: 0px;
}

/*
    Right contents
*/

.output, .console {
    padding: 10px;
    background-color: #fffffe;
    border-radius: 7px;
    color: #030507;
    justify-self: stretch;
    min-width: 0;
    min-height: 0;
}

.output {
    grid-row: 1;
    min-width: 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.console {
    grid-row: 2;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

#output {
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

#console {
    overflow-y: scroll;
    min-width: 0;
    min-height: 0;
    height: 100%;
}

/*
    Console contents
*/

#console > span {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.9rem;
}

/*
    Docs
*/

.docs {
    padding: 10px;
    border-radius: 7px;
    color: #030507;
    justify-self: center;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.docs > h2 {
    padding: 0px;
    text-align: center;
    font-size: 2rem;
}

code {
    background-color: #dfe1e5;
    border-radius: 7px;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.inline > button {
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
}

/*
    Navigation
*/

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    padding-left: 30%;
    padding-right: 30%;
    background-color: #fffffe;
    border-radius: 7px;
    margin-top: 15px;
}

.navigation > a {
    text-decoration: none;
    color: #030507;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #dfe1e5;
    padding: 10px;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
}

/*
    Misc
*/

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    padding-left: 20px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #0065ff;
    margin-bottom: 5px;
}

/*
    Buttons
*/

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    margin-top: 5px;
    border-top: #0065ff 2px solid;
}

button {
    background-color: #dfe1e5;
    color: #030507;
    border: none;
    border-radius: 7px;
    padding: 12px 30px 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    flex-direction: row;
}

button:hover {
    background-color: #0065ff;
    color: #fffffe;
}

button > img {
    margin-right: 5px;
}

button:hover > img {
    filter: invert(100%);
}
