@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: #dfe1e5;
    height: 100%;
    max-width: 100vw;

    font-family: 'Heebo', sans-serif;
}

body > div {
    height: inherit;
    width: inherit;
    display: block;
    padding: 15px;
}

.main {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 15px;
    height: 100%;
}

.editor {
    padding: 10px;
    background-color: #fffffe;
    border-radius: 7px;
    height: 100%;
}

.right {
    grid-column: 2;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 15px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    margin-top: 5px;
    border-top: #0065ff 2px solid;
}

.buttons > button {
    background-color: #dfe1e5;
    color: #030507;
    border: none;
    border-radius: 7px;
    padding: 12px 30px 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.buttons > button:hover {
    background-color: #0065ff;
    color: #fffffe;
}

#editor {
    max-width: 100%;
    max-height: 100%;
}

#output {
    overflow: hidden;
}

.output {
    height: 100%;
}

.console {
    grid-row: 2;
    margin-top: 15px;
    height: 100%;
}

.output, .console {
    padding: 10px;
    background-color: #fffffe;
    border-radius: 7px;
}

#console, #output {
    color: #030507;
}

#console {
    overflow-y: scroll;
}

#console > span {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.9rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    padding-left: 20px;

}

.line {
    width: 100%;
    height: 2px;
    background-color: #0065ff;
    margin-bottom: 5px;
}